:root {
    --color: #27C7AB;
}




* {
    box-sizing: border-box;
}
.container {
    width: 1150px;
    margin: 0 auto;
}

.clearfix:after {
    contain: "";
    display: block;
    clear: both;
}

body {
    font-family: 'Raleway', sans-serif;
}

.page-header {
    background: #000;
    height: 40px;
}

.page-logo {
    float: left;
}

.page-logo_link {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    line-height: 40px;
    display: block;
}

.page-logo_link span {
    color: var(--color);
}

.page-nav {
    float: right;
}

.page-nav-list {

}

.page-nav-list li {
    float: left;
    position: relative;
}

.page-nav-list a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    padding: 0 25px;
    display: block;
}

.page-nav-list a:hover {
    color:var(--color);
}

.page-nav-list li:hover > a {
    color:var(--color);
}

.page-nav-sublist {
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #000;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s all;
    padding: 10px 0;
}

.page-nav-list li:hover .page-nav-sublist {
    visibility: visible;
    opacity:1;
}

.page-nav-sublist:before {
    content:"";
    width: 25px;
    height:25px;
    background: #000;
    display:block;
    transform: translate(-50%, -50%) rotate(45deg);
    position: absolute;
    left: 50%;
    top: 0;
}

.page-nav-sublist:after {
    content:"";
    background: transparent;
    width: 100%;
    height: 30px;
    display: block;
    position: absolute;
    left: 0;
    top: -30px;
}

.page-nav-sublist li{
    float: none;
}

.page-nav-sublist a {
    font-weight: normal;
    text-transform: none;
    line-height: 30px;

}

